body {
    font-size: 16px;
    color: black;
    background-color: lightcyan;
    font-family: "Oxygen", sans-serif;
}

div>p {
    text-align: justify;
}

#b {
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.content-cell {
    box-shadow: 0 0 50px #3f0c1f;
    border: 4px solid white;
    color: white;
    background-color: maroon;
    margin-bottom: 15px;
    padding: 10px 15px;
}

.content-cell h2 {
    margin-top: -5px;
}


/* Not XS screen */

@media (min-width:768px) {
    #collapsable-nav {
        visibility: hidden;
    }
}


/* XS screen */

@media (max-width:767px) {
    .navbar-brand {
        margin-left: 15px;
    }
    .content-cell {
        margin-left: 15px;
        margin-right: 15px;
    }
    #collapsable-nav {
        background-color: lightblue;
    }
    #nav-list {
        margin-bottom: 1px;
        margin-top: 0px;
    }
    #nav-list li {
        text-align: center;
        border: 1px solid white;
        margin-bottom: -1px;
    }
    #nav-list li:hover {
        font-weight: bold;
        background-color: white;
    }
}